API_ID = "API_ID
API_HASH = "API_HASH"

LOG_DIALOG_ID = "LOG_DIALOG_ID"
LOG_TOPIC_ID = "LOG_TOPIC_ID"

SOURCE_DIALOG_ID = "SOURCE_DIALOG_ID"
TARGET_DIALOG_ID = "TARGET_DIALOG_ID"
TARGET_TOPIC_ID = "TARGET_TOPIC_ID"

SESSION_CHUNKS = "2"  # Total number of chunks
SESSION_CHUNK_0 = "chunk_0. . ." 
SESSION_CHUNK_1 = "chunk_1. . ."